body { background-color: rgb(115, 5, 206);
    color: #e3e3e3;
font-family: Arial, Helvetica, sans-serif;}

h1 {text-align: center;
    color: black;}
    
    h2{text-align: center;
    color: black;}
    
    h3 {color: #000;}